<div class="panel-body">
    <ul class="list-group">
    	
    	<% @treta.each do |comment| %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10 col-md-11">
                        <div class="comment-text">
                            <%= comment.content%>
                        </div>
                        <div>
                            <div class="mic-info">
                                By: <%= comment.user.username%> on <%= comment.date.strftime("%d de %B de %Y") %>
                            </div>
                        </div>
                        
                        <div class="action">
	                        Esse comentário foi útil? 
								<%= link_to " #{get_relevances(comment.id,true)}", create_relevance_path(:value => true, :comment_id => comment.id, :medic_id => @medic.id) , class: "fa fa-thumbs-up btn btn-primary"%>
								<%= link_to " #{get_relevances(comment.id,false)}", create_relevance_path(:value => false, :comment_id => comment.id, :medic_id => @medic.id) , class: "fa fa-thumbs-down btn btn-primary "%>
                        </div>
                    </div>
                </div>
            </li>
        <%end%>
    </ul>
</div>