<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class= "panel-body">
				<div class="col-lg-2">
					<%= image_tag "medico140x126.png", class: "img_responsive img-rounded" %>
				</div>
				<div class="col-lg-10">
					<table>
						<tr>
							<h3><%=@medic.name%></h3>
						</tr>
						<tr>
							<td> Especialidade: </td>
							<td><%=@medic.speciality%></td>
						</tr>
						<tr>
							<td> Departamento: </td>
							<td><%=@medic.department%></td>
						</tr>
						<tr>
							<td> Unidade de Trabalho: </td>
							<td><%=@work_unit.name%></td>
						</tr>
						<tr>
							<td> Avaliação Média: </td><td><%=@average%></td><td> Número de Avaliações:     </td><td><%=@ratings%></td>
							
						</tr>
						<tr>
							
						</tr>

					</table>

					<div class="col-lg-1">
						<!-- Button trigger modal -->
						<button class="btn btn-primary btn-lg button-schedule" data-toggle="modal" data-target="#myModal" title="Escala">
					    <i class="fa fa-table"></i>
					  </button>
					    <!-- Modal -->
					    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					      <div class="modal-dialog">
					          <div class="modal-content">
					              <div class="modal-header">
					                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					                  <h4 class="modal-title" id="myModalLabel">
					                    Escala - <%= @medic.name%>
					                  </h4>
					              </div>
					              <div class="modal-body">
					                <table class="table table-striped table-bordered table-hover" id="dataTables">
					                  <thead>
					                    <tr>
					                      <th>Entrada</th>
					                      <th>Saída</th>
					                    </tr>
					                  </thead>
					                  <tbody>
					                    <%@medic.schedules.each do |schedule|%>
					                      <tr>
					                        <td><%= schedule.in %></td>
					                        <td><%= schedule.out %></td>
					                      </tr>
					                  <%end%>
					                  </tbody>
					                </table>
					              </div>                                      
					          </div>
					          <!-- /.modal-content -->
					      </div>
					      <!-- /.modal-dialog -->
					    </div>
					    <!-- /.modal -->
					</div>
					<br /><br />

					<%= form_tag("/medics/rating", method: "post") do %> 
						<input id="input-2a" class="rating" name="grade" data-min="0" data-max="5" data-step="1" data-stars=5 
	   					 	data-glyphicon="false">
	   					 <%= hidden_field_tag :medic_id, @medic.id %>
						<%= submit_tag 'Avaliar' , class: 'btn btn-lg btn-success' %>
					<%end%>
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-body">
				<%= form_tag("/medics/create_comment", method: "post") do %> 
					<p> Realizar Comentário </p>
					<%if current_user%>
						<%= text_field_tag :content, "", class: "form-control", maxlength: 300, placeholder: 'Escreva seu cometário aqui'%>
						<%= hidden_field_tag  :medic_id, @medic.id %>
						<br>
						<%= submit_tag 'Enviar', class: "btn btn-primary" %>
					<%else%>
						<%= text_field_tag :content, "", class: "form-control", disabled: true, placeholder: 'Acesse sua conta para comentar.'%>
							<br>
						<%= submit_tag 'Enviar', class: "btn btn-primary", disabled: true %>
					<%end%>
				<%end%>
			</div>
		</div>

		<div class="panel panel-default widget">
            <div class="panel-heading">
                
                <h3 class="panel-title">
                    Comentários </h3>
                <span class="label label-info">
                    <%= @medic.comments.size %></span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                	<% @medic.comments.each do |comment| %>
	                    <li class="list-group-item">
	                        <div class="row">
	                        	<%= link_to "", to_report_path(:comment_id => comment.id, :medic_id => @medic.id) , class: "fa fa-exclamation close report ",  data: { confirm: 'Você tem certeza?' }, :title=> "Denunciar"%>
	                            <div class="col-xs-10 col-md-11">
	                                <div class="comment-text">
	                                    <%= comment.content%>
	                                </div>
	                                <div>
	                                    <div class="mic-info">
	                                        By: <%= comment.user.username%> on <%= comment.date%>
	                                    </div>
	                                </div>
	                                
	                                <div class="action">
	                                    Esse comentário foi útil? 
      									<%= link_to " sim", create_relevance_path(:value => true, :comment_id => comment.id, :medic_id => @medic.id) , class: "fa fa-thumbs-up btn btn-primary"%>
      									<%= link_to " não", create_relevance_path(:value => false, :comment_id => comment.id, :medic_id => @medic.id) , class: "fa fa-thumbs-down btn btn-primary "%>

	                                    
	                                    
	                                </div>
	                            </div>
	                        </div>
	                    </li>
                    <%end%>
                </ul>
            </div>
        </div>

	</div>
</div>

<script>
	// initialize with defaults
	$("#input-2a").rating({
		clearButton: '<button class="btn btn-default" type="button"> Limpar </button>'
	});

    $(document).ready(function() {
        $('#dataTables').dataTable();
    });
</script>
