<br>
<br>
<div class="panel panel-default widget">
            <div class="panel-heading">
                
                <h3 class="panel-title">
                    Comentários Denúnciados</h3>
                <span class="label label-info">
                    <%= @reported_comments.size %></span>
</div>
<div class="panel-body">
    <ul class="list-group">
		<% @reported_comments.each do |reported_comment|%>
			<li class="list-group-item">
		        <div class="row">
		            <div class="col-xs-10 col-md-11">
		            	<div class="action">
		                    <% if reported_comment.comment_status == false %>
								<%= link_to 'Reativar' , reactivate_comment_path(:comment_id => reported_comment.id) , class: "btn btn-primary activate" %>
							<% else %>
								<%= link_to 'Tirar Denúncia' , disable_report_path(:comment_id => reported_comment.id) , class: "btn btn-primary activate" %>
								<%= link_to 'Desativar' , deactivate_comment_path(:comment_id => reported_comment.id) , class: "btn btn-danger activate",  data: { confirm: 'Você tem certeza?' }%>
							<% end %>
						</div>
		                <div class="reported_comment-text">
		                    <%= reported_comment.content%>
		                </div>
		                <div>
		                    <div class="mic-info">
		                        Autor: <%= reported_comment.user.username%> on <%= reported_comment.date%>
		                        <br>
		                        Médico: <%= link_to reported_comment.medic.name, profile_path(reported_comment.medic)%> 
		                    </div>		                    
		                </div>
		            </div>
		        </div>
		    </li>
		<% end %>
	</ul>
</div>