  <h1>Alterar Senha</h1>

<%= form_for @user, :url => url_for(:controller => 'users', :action => 'update_password') do |f| %>

  <div class="field">
    <%= f.label :Senha_atual %><br>
    <%= f.password_field :password, :required => true %>
  </div>

  <div class="field">
    <%= f.label :Nova_senha %><br>
    <%= f.password_field :new_password ,:required => true %>
  </div>

  <div class="field">
    <%= f.label :Confirmação_da_senha %><br>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit 'Alterar Senha' %>
  </div>
<% end %>
