<h1>Editar Usuario</h1>

<%= link_to "Desativar conta", desactivate_account_path %>
<%= link_to "Alterar Senha", edit_password_path, class: 'button' %>

<%= form_for @user do |f| %>

  <div class="field">    
    <%= f.label :Nome %><br>
    <%= f.text_field :username, :required => true %>
  </div>
  <div class="field">    
    <%= f.label :Email %><br>
    <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar alteração' %> 
  </div>


<% end %>
