<br>

<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        Editar Conta
    </div>
    <div class="panel-body">
      <%= form_for @user do |f| %>

        <div class="form-group">    
          <%= f.label :Nome %><br>
          <%= f.text_field :username, :required => true ,class: "form-control"%>
        </div>

        <div class="form-group">    
          <%= f.label :Email %><br>
          <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',class: "form-control" %>
        </div>

        <%= f.submit 'Salvar alteração' , class: "btn btn-primary"%> 
        <%= link_to "Desativar conta", desactivate_account_path ,class: "btn btn-danger" %>
        <%= link_to "Alterar Senha", edit_password_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
