<br>

<div class="col-lg-6qwe col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
        Editar Conta
    </div>
    <div class="panel-body">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
      <%= form_for @user do |f| %>
        <% if @user.username != "admin" %>
          <div class="form-group">    
            <%= f.label :Nome %><br>
            <%= f.text_field :username, :required => true ,class: "form-control"%>
          </div>
        <% end %>

        <div class="form-group">    
          <%= f.label :Email %><br>
          <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',class: "form-control" %>
        </div>

        <%= f.submit 'Salvar alteração' , class: "btn btn-primary"%> 
        <%= link_to "Alterar Senha", edit_password_path, class: "btn btn-primary" %>
        
        <% if @user.username != "admin" %>
          <%= link_to "Desativar conta", desactivate_account_path ,class: "btn btn-danger" %>
        <% end %>  
      <% end %>
    </div>
  </div>
</div>
