  <h1>Alterar Senha</h1>

<%= form_for @user, :url => url_for(:controller => 'users', :action => 'updatePassword') do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Senha_atual %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :Nova_senha %><br>
    <%= f.password_field :new_password %>
  </div>

  <div class="field">
    <%= f.label :Confirmação_da_senha %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Alterar Senha' %>
  </div>
<% end %>
