
<!-- Page Content -->

<!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sobre nós
        </h1>
        <p>O TEM-DF, Transparência em Escalas Médicas do Distrito Federal, é um projeto idealizado por graduandos em engenharia de software para disponibilizar as escalas médicas dos profissionais do GDF. A página também visa oferecer melhor monitoramento das atividades médicas através de avaliação de cada médico e a consulta a gráficos da quantidade dos profossionais por unidade/região administrativa.</p>
    </div>
</div>

<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Time TEM-DF</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "karine.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Karine Valença
            <small>Desenvolvedor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/KarineValenca"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a>
        <a href="https://www.facebook.com/karine.valenca.5"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "lucas_c.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Lucas Araújo
            <small>Desenvolvedor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/lucasca73"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/lucscostaa"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "lucas_p.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Lucas Pereira
            <small>Desenvolvedor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/lugope"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/lucasgope"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "murilo.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Murilo Duarte
            <small>Desenvolvedor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/muriloduarte"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/muriloduartegoncalves"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "vinicius.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Vinícius Siqueira
            <small>Desenvolvedor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/viniband1"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/muriloduartegoncalves"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "wesley.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Wesley Araujo
            <small>Desenvolvedor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/sickert"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/w.sickert"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "alex.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Álex Mesquita
            <small>Gestor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/alexmesquita"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/alexmesquita06"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "carlos.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Carlos Teixera
            <small>Gestor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/carlosTJunior"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/carlosalberto.teixeirajunior.3"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag "jefferson.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Jefferson Xavier
            <small>Gestor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/jeffersonxavier"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/jefferxav"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 text-center">
        <%= image_tag "keli.jpg", class: "img-circle img-responsive img-center" %>
        <h2 class="black-word">Keli Borges
            <small>Gestor</small>
        </h2>
        <p>Graduando em engenharia de software na Universidade de Brasília.</p>
        <p><a href="https://github.com/keliunb"> <i class="fa fa-github-square fa-fw fa-2x black-word"></i> </a><a href="https://www.facebook.com/keli.cristina1"> <i class="fa fa-facebook-square fa-fw fa-2x black-word"></i></a></p>
    </div>
</div>
