<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Trânsparencia em Escalas Médicas" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <title>Trânsparencia em Escalas Médicas</title>

    <%= favicon_link_tag(source='logo.ico', options={}) %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to root_path, :class => "navbar-brand" do %>
                    <%= image_tag "logo_navbar.png" %>
                <% end %>
            </div>
            <!-- /.navbar-header -->
            
            <ul class="title">
                Transparência em Escalas Médicas do DF
            </ul>

            <ul class="nav navbar-top-links navbar-right">
                <% if current_user %>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <%= current_user.username %><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <%= link_to edit_user_path(session[:remember_token]) do %>
                                    <i class="fa fa-user fa-fw"></i> Editar Perfil
                                <% end %>
                            </li>
                            <li>
                            <% if current_user.username == "admin"%>
                                <%= link_to users_path do %>
                                    <i class="fa fa-users"></i> Usuários
                                <% end %>
                                <%= link_to index_parser_path do %>
                                    <i class ="fa fa-cloud-upload"></i> Carregar Dados
                                <% end %>                                
                            </li>
                            <% end %>
                            <li class="divider"></li>
                            <li>
                                <%= link_to logout_path do %>
                                    <i class="fa fa-sign-out fa-fw"></i> Sair
                                <% end %>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                <% else %> 
                    <li><%= link_to "Entrar", login_path %></li>
                    <li><%= link_to "Cadastrar", new_user_path %></li>            
                <% end %>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <%= form_tag("/medics/results", method: "get") do %> 
                                    
                                    <div class="input-group custom-search-form">
                                        <label>Especialidade</label>
                                        <select name="list_specility" class="form-control">
                                            <option>Informe a Especialidade</option>
                                            <% list_speciality.each do |speciality| %>
                                                <option value="<%= speciality %>">
                                                    <%= speciality %>
                                                </option>
                                            <% end %>
                                        </select>         
                                    </div>

                                    <div class="input-group custom-search-form">
                                        <label> Região </label>
                                        <select name="list_work_unit_name" class="form-control">    
                                            <option>Informe a Região</option>                       
                                            <% list_work_unit_name.each do |work_unit_name| %>
                                                <option value="<%= work_unit_name %>">
                                                    <%= work_unit_name %>
                                                </option>
                                            <% end %>
                                        </select>
                                    </div>

                                    <div>
                                        <br>
                                        <button type="submit" class="btn btn-default">Confirmar</button>
                                        <button type="reset" class="btn btn-default">Limpar</button>
                                    </div>
                                <%end%>
                            </div>
                            <!-- /input-group -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                   <%= yield %>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div><!-- /container -->

  </body>
</html>
